@page
@model IndexModel
@using System.Text.Json
@using IsmailHilmiAdiguzelProje.Models
@{
    ViewData["SubPageClass"] = "sub_page";
    ViewData["Title"] = "Ana sayfa";
    Dictionary<string, string> images = new();

    if (TempData["NameAndSurname"] != null)
    {
        IndexModel.NameAndSurname = TempData["NameAndSurname"].ToString();
    }

    
}

<!-- service section -->
<section class="service_section layout_padding">
    <div class="service_container">
        <div class="container ">
            <div class="heading_container heading_center">
                <h2>
                    @{
                        if (IndexModel.NameAndSurname != null)
                        {
                            <div>Hoşgeldiniz : <span> @IndexModel.NameAndSurname</span></div>
                        }
                        else
                        {
                            <div><span>Linklerimiz</span></div>
                        }
                    }
                    
                </h2>
                <p>
                    Burada tüm linklerimiz bulunmaktadır.
                </p>
            </div>
            <div class="row">
                @{
                    using (var httpClient = new HttpClient())
                    {
                        using (var request = new HttpRequestMessage(new HttpMethod("GET"), "https://reklamaction.api.hasoffers.com/Apiv3/json?api_key=16cae276c0765bbe7e451fde1d1cd9bf69c1e8b05d37b1bc8ec25f68868d52de&Target=Affiliate_OfferFile&Method=findAll"))
                        {
                            var httpResponseMessage = await httpClient.SendAsync(request);
                            var getResult = await httpResponseMessage.Content.ReadAsStringAsync();
                            var deserializedResponse = JsonSerializer.Deserialize<ImageDataObject>(getResult);
                            List<Dictionary<string, OfferImage>> elements = deserializedResponse.Response.Data.OfferImage.Values.ToList();
                            for (int i = 0; i < elements.Count; i++)
                            {
                                string offerId = elements[i]["OfferFile"].Offer_id;

                                if (!images.ContainsKey(offerId))
                                {
                                    images.Add(offerId, elements[i]["OfferFile"].Url);
                                }
                            }
                        }
                    }
                }
                @{
                    using (var httpClient = new HttpClient())
                    {
                        using (var request = new HttpRequestMessage(new HttpMethod("GET"), "https://reklamaction.api.hasoffers.com/Apiv3/json?api_key=16cae276c0765bbe7e451fde1d1cd9bf69c1e8b05d37b1bc8ec25f68868d52de&Target=Affiliate_Offer&Method=findAll&limit=123"))
                        {
                            var httpResponseMessage = await httpClient.SendAsync(request);
                            var getResult = await httpResponseMessage.Content.ReadAsStringAsync();
                            var deserializedResponse = JsonSerializer.Deserialize<MainDataObject>(getResult);
                            List<Dictionary<string, Offer>> elements = deserializedResponse.Response.Data.Data.Values.ToList();


                            for (int i = 0; i < elements.Count; i++)
                            {
                                var element = elements[i];
                                <div class="col-md-4">
                                    <div class="box">
                                        <div class="img-box">
                                            @{
                                                string imageKey = elements[i]["Offer"].Id;
                                                if (images.ContainsKey(imageKey))
                                                {
                                                    <img src="@images[imageKey]" alt="">
                                                }
                                            }
                                        </div>
                                        <div class="detail-box">
                                            <h5>@elements[i]["Offer"].Name</h5>
                                            <p>% @elements[i]["Offer"].PercentPayout</p>
                                            <a href="javascript:void(0);" onclick="captureClickAndRedirect('@elements[i]["Offer"].Url', '@IndexModel.NameAndSurname')">Tıklayın</a>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
            <div class="btn-box">
                <a href="">
                    View All
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    function captureClickAndRedirect(clickWebsite, clickName) {
        // AJAX call to send the captured data to the Razor Page handler method
        $.ajax({
            type: 'GET',
            url: '@Url.Page("index", "counterclicklink")',
            data: { clickWebsite: clickWebsite, clickName: clickName },
            success: function (response) {
                if (clickName != '') {
                    // Redirect to clickWebsite if clickName is not null
                    window.location.href = clickWebsite;
                } else {
                    // Redirect to the login page if clickName is null
                    window.location.href = '@Url.Page("/Login")';
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

</script>
<!-- end service section -->