@page
@model IndexModel
@using System.Text.Json
@using IsmailHilmiAdiguzelProje.Models
@{
    ViewData["SubPageClass"] = "sub_page";
    ViewData["Title"] = "Ana sayfa";
    Dictionary<string, string> images = new();

    if (TempData["NameAndSurname"] != null)
    {
        IndexModel.NameAndSurname = TempData["NameAndSurname"].ToString();
    }
}

<!-- home-agency start -->
<section class="hero-1" id="home">
    <div class="bg-overlay-img"></div>
    <div class="container">
        <div class="row align-items-center hero-content">
            <div class="col-lg-6">
                <h1 class="hero-title fw-bold mb-4 pb-3 text-white">Umudumuzu artırıyor, toplumsal sorunlar için birlikte çalışıyoruz.</h1>
                <p class="text-white opacity-75 mb-4 pb-3 fs-17">Siz de bize katılın. Uygulamayı indirin, çözümüne destek olmak istediğiniz STK'yı seçin, alışveriş tercihlerinizi değiştirin ve hiçbir ek ödeme yapmadan ÜCRETSİZ BAĞIŞ YAPIN.</p>
                <div class="subscribe-form me-lg-5 mb-5 mb-lg-0">
                    <i class="mdi mdi-email-outline form-icon"></i>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email Address" />
                    <a href="javascript:void(0);" class="btn btn-success form-btn"><span>Şimdi indirin</span> <i class="mdi mdi-download download-icon"></i></a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <img src="https://hangel.org/wp-content/uploads/2024/04/banner-deneme-gorsel.png" alt="" class="img-fluid" />
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="hero-bottom-shape">
                    <img src="images/heros/hero-1-bottom-shape.png" alt="" class="w-100" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="down-arrow-btn">
                    <a href="#how-it-work" class="down-arrow"><i class="mdi mdi-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- home-agency end -->
<!-- How it work start -->
<section class="section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="title">Nasıl çalışıyor?</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-primary mb-4">
                        <i class="mdi mdi-format-list-bulleted"></i>
                    </div>
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal"><h5 class="fw-semibold">Üye ol</h5></a>
                    <img src="images/arrow-top.png" alt="" class="work-arrow" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-success mb-4">
                        <i class="mdi mdi-palette-outline"></i>
                    </div>
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <h5 class="fw-semibold">Desteklemek istediğin iki STK'yı seç</h5></a>
                    <img src="images/arrow-bottom.png" alt="" class="work-arrow" />
                </div>
            </div>
            <div class="col-lg-4">
                <div class="work-box px-lg-5 text-center mb-5 mb-lg-0">
                    <div class="work-icon bg-soft-warning mb-4">
                        <i class="mdi mdi-layers-triple"></i>
                    </div>
                    <a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#loginModal"><h5 class="fw-semibold">Alışverişe başla</h5></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- How it work end -->
<!-- features start -->
<section class="section bg-light features-bg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h1 class="fs-38 mb-4">Nasıl bağış yapabilirim</h1>
                <p class="text-muted">Alışveriş yapacağın markayı seç, sosyal sorunlar için çözüme ortak ol.</p>

                <div class="d-flex mb-3">
                    <div class="flex-shrink-0 align-features">
                        <span class="avatar avatar-lg bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-check"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4 align-features">
                        <div class="text-muted">Üye ol, <span class="text-dark fw-bold">desteklemek istediğin iki derneği seç,</span> profilini tamamlayıp kullanmaya başla.</div>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="flex-shrink-0 align-features">
                        <span class="avatar avatar-lg bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-layers-outline"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4 align-features">
                        <div class="text-muted">Alışveriş yapmak istediğin markayı seç, Alışverişe başla butonuna tıkla, markanın ilgili web sayfasına yönlendirileceksin. Markadaki üyeliğin, kart bilgilerin ile dilediğin gibi alışverişini yap.</div>
                    </div>
                </div>

                <div class="d-flex mb-3">
                    <div class="flex-shrink-0 align-features">
                        <span class="avatar avatar-lg bg-white text-primary rounded-circle shadow-primary">
                            <i class="mdi mdi-lock-outline"></i>
                        </span>
                    </div>
                    <div class="flex-grow-1 ms-4 align-features">
                        <div class="text-muted">
                            <span class="text-dark fw-bold">Bedava bağış deneyimini yaşa.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <img src="https://hangel.org/wp-content/uploads/2024/04/HOTIC-1-1.png" alt="" class="img-fluid d-block mx-auto ms-lg-auto" />
            </div>
        </div>
    </div>
</section>
<!-- features end -->
<!-- counter start -->
<section class="section cta-bg" id="counter">
    <div class="bg-overlay bg-dark"></div>
    <div class="container">
        <div class="row" id="counter">
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-web text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white">
                                1220
                            </h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">Kullanıcı</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-emoticon-happy text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white">42</h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">STK</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-lightbulb-on text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white">98</h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">Marka</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="text-center my-3">
                    <div class="d-flex align-items-center counter-content text-start">
                        <div class="flex-shrink-0">
                            <i class="mdi mdi-account-multiple text-white display-5"></i>
                        </div>
                        <div class="flex-grow-1 ms-4">
                            <h1 class="text-white">6</h1>
                            <p class="counter-name text-white opacity-75 mb-0 text-uppercase">Proje</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- counter end -->

<!-- links start -->
<section class="section" id="links">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">

                @{
                    if (IndexModel.NameAndSurname != null)
                    {
                        <h6 class="subtitle">Hoşgeldiniz : <span class="fw-bold"> @IndexModel.NameAndSurname</span></h6>
                    }
                    else
                    {
                        <div>Linklerimiz</div>
                    }
                }
                @{
                    using (var httpClient = new HttpClient())
                    {
                        using (var request = new HttpRequestMessage(new HttpMethod("GET"), "https://reklamaction.api.hasoffers.com/Apiv3/json?api_key=16cae276c0765bbe7e451fde1d1cd9bf69c1e8b05d37b1bc8ec25f68868d52de&Target=Affiliate_OfferFile&Method=findAll"))
                        {
                            var httpResponseMessage = await httpClient.SendAsync(request);
                            var getResult = await httpResponseMessage.Content.ReadAsStringAsync();
                            var deserializedResponse = JsonSerializer.Deserialize<ImageDataObject>(getResult);
                            List<Dictionary<string, OfferImage>> elements = deserializedResponse.Response.Data.OfferImage.Values.ToList();
                            for (int i = 0; i < elements.Count; i++)
                            {
                                string offerId = elements[i]["OfferFile"].Offer_id;

                                if (!images.ContainsKey(offerId))
                                {
                                    images.Add(offerId, elements[i]["OfferFile"].Url);
                                }
                            }
                        }
                    }
                }
                @{
                    using (var httpClient = new HttpClient())
                    {
                        using (var request = new HttpRequestMessage(new HttpMethod("GET"), "https://reklamaction.api.hasoffers.com/Apiv3/json?api_key=16cae276c0765bbe7e451fde1d1cd9bf69c1e8b05d37b1bc8ec25f68868d52de&Target=Affiliate_Affiliate&Method=getAccountBalance"))
                        {
                            var httpResponseMessage = await httpClient.SendAsync(request);
                            var getResult = await httpResponseMessage.Content.ReadAsStringAsync();
                            var deserializedResponse = JsonSerializer.Deserialize<BalanceDataObject>(getResult);

                            string stringValue = deserializedResponse.Response.Data;
                            double doubleValue;

                            if (double.TryParse(stringValue, out doubleValue))
                            {
                                string formattedValue = doubleValue.ToString("0.00");
                                <p class="text-muted">Şu an elimizde bulunan : @formattedValue TRY</p>
                            }
                            else
                            {

                            }
                        }
                    }
                }
            </div>
        </div>

        <div class="row justify-content-center">

            @{
                using (var httpClient = new HttpClient())
                {
                    using (var request = new HttpRequestMessage(new HttpMethod("GET"), "https://reklamaction.api.hasoffers.com/Apiv3/json?api_key=16cae276c0765bbe7e451fde1d1cd9bf69c1e8b05d37b1bc8ec25f68868d52de&Target=Affiliate_Offer&Method=findAll&limit=123"))
                    {
                        var httpResponseMessage = await httpClient.SendAsync(request);
                        var getResult = await httpResponseMessage.Content.ReadAsStringAsync();
                        var deserializedResponse = JsonSerializer.Deserialize<MainDataObject>(getResult);
                        List<Dictionary<string, Offer>> elements = deserializedResponse.Response.Data.Data.Values.ToList();


                        for (int i = 0; i < elements.Count; i++)
                        {
                            var element = elements[i];
                            string ppInString = elements[i]["Offer"].PercentPayout;
                            double percentPayout = Convert.ToDouble(ppInString);

                            if (percentPayout != 0)
                            {
                                <div class="col-md-3 col-sm-4 col-4">
                                    <div class="testimonial-box text-center">
                                        <div class="card">
                                            @{
                                                <div class="card-header card-header-style">
                                                    @{
                                                        string imageKey = elements[i]["Offer"].Id;
                                                        if (images.ContainsKey(imageKey))
                                                        {
                                                            <img src="@images[imageKey]" alt="" class="card-img-top card-image-style" />
                                                        }
                                                    }
                                                </div>
                                                <div class="card-body">
                                                    @{
                                                        <h6 class="card-title fs-16 fw-semibold mt-4 mb-0">@elements[i]["Offer"].Name</h6>
                                                        <p class="card-text text-muted fs-14">@ppInString % </p>
                                                        // <a href="javascript:void(0);" onclick="captureClickAndRedirect('@elements[i]["Offer"].Url', '@IndexModel.NameAndSurname')">Tıklayın</a>
                                                        <a href="@elements[i]["Offer"].Url" class="me-2 mb-2 mb-xl-0 btn btn-outline-primary">Tıklayın</a>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            }


        </div>
    </div>
</section>
<!-- links end -->

<!-- usersideas start -->
<section class="section bg-light" id="usersideas">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="title">Kullanıcılar ne diyor?</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="testimonial-box text-center">
                    <h5 class="fs-18 fw-semibold lh-base mb-4 pb-3">
                        Marka Yöneticileri
                    </h5>
                    <p class="text-muted mb-2">Merhaba Marka Müdürü, Satışları artırma ve sadık müşteriler kazanma hedeflerinizi anlıyoruz. Mevcut bütçenizin bir kısmını müşterilerinizin seçtiği STK'lara hiçbir ek maliyet olmadan aktararak toplumsal sorunların çözümüne katkıda bulunmak için affiliate sisteminden yararlanmaya ne dersiniz? Müşterinin Hangel hesabına yatırdığı ve seçilen STK'lara bağışladığı düzenli bir bağış sistemi olan Hangel'i sizlerle paylaşmaktan gurur duyuyoruz. Bu fırsatı değerlendirdiğiniz için teşekkür ederiz. Biz cevabını bekliyoruz.</p>
                    <button type="button" class="me-2 mb-2 mb-xl-0 btn btn-primary rounded-pill">Marka Yöneticilerine katılın</button>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="testimonial-box text-center">
                    <h5 class="fs-18 fw-semibold lh-base mb-4 pb-3">
                        Kullanıcılar
                    </h5>
                    <p class="text-muted mb-2">Merhaba kullanıcı, Bağış yapmak istediğinizi ve toplumsal konulara önem verdiğinizi anlıyoruz ancak yaşam koşulları nedeniyle düzenli bağış yapamıyorsunuz. Toplumsal sorunların çözümüne katkı sağlayamadığınız için kalbinizde oluşan acıyla empati kurabiliriz. Alışveriş tercihlerinizi değiştirerek desteklemek istediğiniz STK'lara destek olmanızı sağlayan sosyal girişim Hangel'i sizlerle paylaşmaktan mutluluk duyuyoruz. Umarım bu yardımcı olur! Başka sorularınız varsa veya daha fazla yardıma ihtiyacınız varsa sormaya çekinmeyin.</p>
                    <button type="button" class="me-2 mb-2 mb-xl-0 btn btn-primary rounded-pill">Kullanıcılara katıl</button>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="testimonial-box text-center">
                    <h5 class="fs-18 fw-semibold lh-base mb-4 pb-3">
                        STK Yöneticileri
                    </h5>
                    <p class="text-muted mb-2">Merhaba STK Yöneticisi veya özel izinle hastalıkla mücadele eden kocaman yürekli aile; Toplumsal sorunları çözmenin ve toplumsal yenilik üretmenin hayalini kurduğunun bilincindeyiz. Sizin ve dünyadaki STK'ların en büyük sorunu düzenli nakit akışı ve profesyonel iş gücü. Yalnız değilsin. Bu sorunları yaşayan tek kişi siz değilsiniz. Üyelerinize, gönüllülerinize, hayranlarınıza veya takipçilerinize, en çok ihtiyaç duyduğunuz düzenli gelir için anlaşmalı markamız veya platformumuzdan alışveriş yaptıklarında düzenli olarak destek olabileceğiniz Hangel'i sizlerle paylaşmaktan büyük mutluluk duyuyoruz.</p>
                    <button type="button" class="me-2 mb-2 mb-xl-0 btn btn-primary rounded-pill">STK Yöneticilerine katılın</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- usersideas end -->

<!-- testimonial start -->
<section class="section bg-light" id="testimonial">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="title">Kullanıcılarımız ne diyor?</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="testimonial-box text-center">
                    <h5 class="fs-18 fw-semibold lh-base mb-4 pb-3">
                        Kendi imkanlarımla sokak hayvanlarına mama dağıtırken, her alışverişten önce sadece 3 saniyeliğine bu platformu kullanarak iki kat mama dağıtıyor olmak çok güzel. Teşekkür ederim Hangel!
                    </h5>
                    <img src="images/users/user-1.jpg" alt="" class="shadow rounded-circle" width="70" />
                    <h5 class="fs-18 fw-semibold mt-4 mb-0">Şeyma Akgün</h5>
                    <p class="text-muted fs-14">Kullanıcı</p>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="testimonial-box text-center">
                    <h5 class="fs-18 fw-semibold lh-base mb-4 pb-3">
                        Hangel sayesinde alışveriş alışkanlıklarımın değiştiğini ve alışverişlerimle birden fazla hayır kurumuna destek olduğumu görmek harika! Bu platform, her alışveriş deneyimimde farklı hayır kurumlarına katkıda bulunmamı sağlıyor. Daha geniş bir etki yaratmama yardım ettiğin için teşekkürler Hangel!
                    </h5>
                    <img src="images/users/user-2.jpg" alt="" class="shadow rounded-circle" width="70" />
                    <h5 class="fs-18 fw-semibold mt-4 mb-0">İlayda yılmaz</h5>
                    <p class="text-muted fs-14">Kullanıcı</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- testimonial end -->

<!-- faqs start -->
<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-8 col-lg-6 text-center">
                <h2 class="title">Sıkça Sorulan Sorular</h2>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-4">
                <img src="images/faq.png" alt="" class="img-fluid d-block mx-auto" />
            </div>

            <div class="col-lg-7 offset-lg-1">
                <div class="accordion accordion-flush faqs-accordion mt-4 mt-lg-0" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                                Hangi veriler politikanız nedir ?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body text-secondary">
                                Üyelerin (kullanıcıların) bize sağladığı adları, adresleri, e-posta adreslerini ve Hediye Yardımı beyanlarını saklıyoruz. Ayrıca yöneticiler tarafından bize sağlanan ilgili kişi adlarını, adreslerini, e-posta adreslerini ve telefon numaralarını da belirli amaçlarla saklıyoruz.
                                Ayrıca kullanıcıların hangel üzerinden desteklediği STK ve alışveriş yaptığı marka bilgilerini tutuyoruz.

                            </div>
                        </div>
                    </div>
                    <!-- accordion-header end -->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                Verilerinizi "depoladığımız" ve "işlediğimiz" yasal dayanaklar nelerdir?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body text-secondary">
                                Üyeliğinizi, desteklediğiniz amaçları ve sağladığınız bağışları kaydedebilmemizde "meşru menfaat" bulunduğu için verilerinizi saklıyoruz. Hesabınızla ilgili bilgileri size düzenli olarak göndereceğiz ve yaptığınız değişiklikleri onaylayacağız.
                                Ayrıca teklifler, önemli ipuçları, yeni özellikler vb. ile ilgili olabilecek çeşitli pazarlama e-postaları da gönderiyoruz. Bu e-postalar için açık "onay"a ihtiyacımız var ve bunun doğru bir şekilde kaydedildiğinden emin olmak için mevcut hedef kitlemizden yeniden onay istedik.

                            </div>
                        </div>
                    </div>
                    <!-- accordion-header end -->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                Verilerimin silinmesini isteyebilir miyim?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body text-secondary">
                                Hakkınızda tuttuğumuz bilgilerin bu bilgilerin değiştirilmesini veya silinmesini isteme hakkına sahipsiniz.
                                Verilerinizin gizli tutulmasını ve yalnızca ilgili kişiler tarafından faaliyetlerimizin gerçekleştirilmesi amacıyla kullanılmasını sağlayacaktır. Sağladığımız hizmetleri (örn. e-posta pazarlaması, sorgu yönetimi vb.) sunmak için gerekli olmadığı sürece bu bilgileri hiçbir resmî kuruluşla paylaşmayız.

                            </div>
                        </div>
                    </div>
                    <!-- accordion-header end -->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                Yaptığım doğrudan bağış neden hesabımda görünmüyor?
                            </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body text-secondary">
                                Bir amaç için Doğrudan Bağış yaptıysanız bağışın destekçi hesabınızda görünmesi bir kaç hafta kadar sürebilir. Bu süre sonunda doğrudan bağışınız görünmüyorsa, lütfen Bize iletişim formu seçeneğini kullanarak bizimle iletişime geçin.

                            </div>
                        </div>
                    </div>
                    <!-- accordion-header end -->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingFive">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                Aylık yıllık abonelik ücreti var mı?

                            </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body text-secondary">
                                Kullanıcılar, markalar, STK’lar veya özel izin ile bağış toplayan kişiler hiç bir şekilde aidat veya benzeri bir ödeme yapmazlar.

                            </div>
                        </div>
                    </div>
                    <!-- accordion-header end -->

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                Kullanıcılar destekledikleri amaçları hangi koşullarda değiştirebilirler ?
                            </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body text-secondary">
                                İlk üye olduğunda 1 dernek seçmiyoruz bir amacı destek üzere gelen kullanıcının çapraz destekler ile farklı amaçları da desteklemesini amaçladığımız için en az 2 amacı desteklemesini bekliyoruz.
                                2’den fazla dernek seçilmesini desteklememizin sebebi ise desteklenen amacın daha etkin bağış toplayabilmesi.

                            </div>
                        </div>
                    </div>
                    <!-- accordion-header end -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- faqs end -->

<!-- footer & cta start -->
<section class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center text-lg-start">
                <div class="footer-logo mb-4">
                    <a href="#">
                        <img src="~/images/logo.jpeg" style="width: 100px; height: 50px;" alt="" />
                    </a>
                </div>
                <a href="#" class="text-white">turkiye@hangel.org</a>

                <h5 class="fs-18 mb-3 text-white">Bizi takip edin</h5>
                <ul class="list-inline mt-5">
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/hangelorg" class="footer-social-icon"><i class="mdi mdi-facebook"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/hangelorg" class="footer-social-icon"><i class="mdi mdi-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/hangelorg" class="footer-social-icon"><i class="mdi mdi-linkedin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- footer & cta end -->
<!-- Back to top -->
<a href="#" onclick="topFunction()" class="back-to-top-btn btn btn-gradient-primary" id="back-to-top"><i class="mdi mdi-chevron-up"></i></a>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center mb-4">
                    <h4 class="mb-0">Hoşgeldiniz</h4>
                    <p class="text-muted fs-15">Lütfen giriş yapınız</p>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">E-posta</label>
                    <input type="email" class="form-control" id="emailAddress" placeholder="Your email..." />
                </div>
                <div class="mb-2">
                    <label asp-for="Password" class="form-label">Parola</label>
                    <input type="password" class="form-control" asp-for="Password" id="inputPasseord" />
                </div>
                <div class="d-flex justify-content-between align-items-center mb-4 pb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Beni hatırla
                        </label>
                    </div>
                    <a href="javascript:void(0);" class="text-secondary fs-13">Parolanızı unuttunuz mu?</a>
                </div>

                <a href="javascript:void(0);" class="btn btn-gradient-primary w-100" data-bs-dismiss="modal">Kaydolun</a>
                <div class="text-center">
                    <div class="position-relative my-4">
                        <span class="bg-soft-secondary w-100 d-inline-block" style="height: 1px;"></span>
                        <p class="text-muted fs-15 mb-0 mt-1 bg-white px-2 position-absolute top-50 start-50 translate-middle">
                            Ya da bunlarla devam edin.
                        </p>
                    </div>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item">
                            <a href="javascript:void(0);" class="btn btn-danger">
                                <img src="images/auth-icon/google.png" alt="google" class="img-fluid" width="24" />
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0);" class="btn btn-primary">
                                <img src="images/auth-icon/facebook.png" alt="" class="img-fluid" width="24" />
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="javascript:void(0);" class="btn btn-info">
                                <img src="images/auth-icon/twitter.png" alt="" class="img-fluid" width="24" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body p-4">
                <div class="text-center mb-4">
                    <h4 class="">Kayıt olun</h4>
                    <p class="text-muted fs-14">Sosyal sorunların çözümüne ortak olun.</p>
                </div>

                <div class="">
                    <ul class="nav nav-pills navtab-bg nav-justified p-1">
                        <li class="nav-item">
                            <a href="#form1" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                <span>Kullanıcı</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#form2" data-bs-toggle="tab" aria-expanded="true" class="nav-link active">
                                <span>STK</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#form3" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
                                <span>Marka</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content text-muted">
                        <div class="tab-pane" id="form1">
                            <form asp-page-handler="registerUser" method="post">
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Ad</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Ad..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Surname" class="form-label">Soyad</label>
                                    <input type="text" class="form-control" id="lasttName" asp-for="Surname" placeholder="Soyad..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">E-posta</label>
                                    <input type="email" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Eposta adresi..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Şehir</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">İstanbul</option>
                                                <option value="option_select_name">Ankara</option>
                                                <option value="option_select_name">İzmir</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">İlçe</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Fatih</option>
                                                <option value="option_select_name">Çankaya</option>
                                                <option value="option_select_name">Alsancak</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Mahalle</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Mahalle 1</option>
                                                <option value="option_select_name">Mahalle 1</option>
                                                <option value="option_select_name">Mahalle 1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="Gender" class="form-label">Sokak ve kapı numarası</label>
                                    <input type="email" class="form-control" id="emailAddress1" for="Email" placeholder="Sokak ve no..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Cinsiyet</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">Erkek</option>
                                                <option value="1">Kadın</option>
                                                <option value="2">Belirtmek istemiyorum</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label asp-for="Password" class="form-label">Parola</label>
                                    <input type="password" class="form-control" asp-for="Password" id="inputPassword1" />
                                </div>
                                <div class="mb-2">
                                    <label asp-for="Password" class="form-label">Parolayı tekrar yazın</label>
                                    <input type="password" class="form-control" asp-for="Password" id="inputPassword2" />
                                </div>
                                <div class="form-check mb-4 pb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" />
                                    <label class="form-check-label" for="flexCheckDefault1"> I agree to the <a href="javascript:void(0);">Terms of Service</a> and <a href="javascript:void(0);">Privacy Policy</a> </label>
                                </div>

                                <a href="javascript:void(0);" class="btn btn-gradient-primary w-100" data-bs-dismiss="modal">Create account</a>
                            </form>
                        </div>
                        <div class="tab-pane show active" id="form2">
                            <form asp-page-handler="registerUser" method="post">
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">STK'nın Kısa adı</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Yazınız..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">STK'nın Tam adı</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Yazınız..."   />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın logosu</label>
                                    <input type="file" multiple="" class="form-control" id="customFile">
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın Banner görseli</label> 
                                    <input type="file" multiple="" class="form-control" id="customFile">
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın Web sitesi</label>
                                    <input type="url" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın Telefon numarası</label>
                                    <input type="tel" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Şehir</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Default Option</option>
                                                <option value="option_select_name">Option select name</option>
                                                <option value="option_select_name">Option select name</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">İlçe</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Default Option</option>
                                                <option value="option_select_name">Option select name</option>
                                                <option value="option_select_name">Option select name</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Mahalle</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Default Option</option>
                                                <option value="option_select_name">Option select name</option>
                                                <option value="option_select_name">Option select name</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın barkodlu tüzüğü</label>
                                    <input type="email" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın Faaliyet alanı</label>
                                    <input type="text" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın vergi numarası</label>
                                    <input type="number" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">STK'nın kullandığı bankanın adı</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">Banka 1</option>
                                                <option value="1">Banka 2</option>
                                                <option value="2">Banka 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Stk'nın IBAN'I</label>
                                    <input type="text" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">STK Genel Müdürlüğündeki faaliyet alanı</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">Faaliyet 1</option>
                                                <option value="1">Faaliyet 2</option>
                                                <option value="2">Faaliyet 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Kategorisi</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">Erkek</option>
                                                <option value="1">Kadın</option>
                                                <option value="2">Belirtmek istemiyorum</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">BM'nin sürdürülebilr kalkınma amaçlarından hangisini destekliyor? (Birden fazla amaç seçebilirsiniz)</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Türü</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label asp-for="Password" class="form-label">Parola</label>
                                    <input type="password" class="form-control" asp-for="Password" id="inputPassword1" />
                                </div>
                                <div class="mb-2">
                                    <label asp-for="Password" class="form-label">Parolayı tekrar yazın</label>
                                    <input type="password" class="form-control" asp-for="Password" id="inputPassword2" />
                                </div>

                                <div class="position-relative my-4">
                                    <span class="bg-soft-secondary w-100 d-inline-block" style="height: 1px;"></span>
                                    <p class="text-muted fs-15 mb-0 mt-1 bg-white px-2 position-absolute top-50 start-50 translate-middle">
                                        Stk'nın adına kayıt yapan kişi
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Adı</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Adı..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Soyadı</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Soyadı..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Telefon numarası</label>
                                    <input type="tel" class="form-control" id="firstName" asp-for="Name" placeholder="Telefon numarası..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Mail adresi</label>
                                    <input type="email" class="form-control" id="firstName" asp-for="Name" placeholder="Eposta adresi..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Görevi</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Görevi..." />
                                </div>

                                
                                <div class="form-check mb-4 pb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" />
                                    <label class="form-check-label" for="flexCheckDefault1"> I agree to the <a href="javascript:void(0);">Terms of Service</a> and <a href="javascript:void(0);">Privacy Policy</a> </label>
                                </div>

                                <a href="javascript:void(0);" class="btn btn-gradient-primary w-100" data-bs-dismiss="modal">Create account</a>
                            </form>
                        </div>
                        <div class="tab-pane" id="form3">
                            <form asp-page-handler="registerUser" method="post">
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Marka'nın adı</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Yazınız..."/>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Marka'nın logosu</label><!-- upload file -->
                                    <input type="file" multiple="" class="form-control" id="customFile">
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Marka'nın Banner görseli</label> <!-- upload file -->
                                    <input type="file" multiple="" class="form-control" id="customFile">
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Marka'nın Web sitesi</label>
                                    <input type="url" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Marka'nın Telefon numarası</label>
                                    <input type="tel" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Şehir</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Default Option</option>
                                                <option value="option_select_name">Option select name</option>
                                                <option value="option_select_name">Option select name</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">İlçe</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Default Option</option>
                                                <option value="option_select_name">Option select name</option>
                                                <option value="option_select_name">Option select name</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Mahalle</label>
                                            <select class="form-select" id="default-3">
                                                <option value="default_option">Default Option</option>
                                                <option value="option_select_name">Option select name</option>
                                                <option value="option_select_name">Option select name</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Marka'nın vergi dairesi</label>
                                    <input type="text" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Marka'nın vergi numarası</label>
                                    <input type="text" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Marka'nın kullandığı bankanın adı</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">Banka 1</option>
                                                <option value="1">Banka 2</option>
                                                <option value="2">Banka 3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Email" class="form-label">Markanın'nın IBAN'I</label>
                                    <input type="text" class="form-control" id="emailAddress1" asp-for="Email" placeholder="Yazınız..." />
                                </div>
                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Marka'nın sektörü</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Marka'nın kategorisi</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">1</option>
                                                <option value="1">2</option>
                                                <option value="2">3</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col">
                                        <div class="mb-3">
                                            <label class="form-label" for="default-3">Markanız sosyal girişim mi?</label>
                                            <select class="form-select" id="default-3">
                                                <option value="0">Hayır</option>
                                                <option value="1">Evet</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <label asp-for="Password" class="form-label">Parola</label>
                                    <input type="password" class="form-control" asp-for="Password" id="inputPassword1" />
                                </div>
                                <div class="mb-2">
                                    <label asp-for="Password" class="form-label">Parolayı tekrar yazın</label>
                                    <input type="password" class="form-control" asp-for="Password" id="inputPassword2" />
                                </div>

                                <div class="position-relative my-4">
                                    <span class="bg-soft-secondary w-100 d-inline-block" style="height: 1px;"></span>
                                    <p class="text-muted fs-15 mb-0 mt-1 bg-white px-2 position-absolute top-50 start-50 translate-middle">
                                        Marka adına kayıt yapan kişi
                                    </p>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Adı</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Adı..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Soyadı</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Soyadı..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Telefon numarası</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Telefon numarası..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Mail adresi</label>
                                    <input type="email" class="form-control" id="firstName" asp-for="Name" placeholder="Eposta adresi..." />
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Name" class="form-label">Görevi</label>
                                    <input type="text" class="form-control" id="firstName" asp-for="Name" placeholder="Görevi..." />
                                </div>


                                <div class="form-check mb-4 pb-2">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" />
                                    <label class="form-check-label" for="flexCheckDefault1"><a href="javascript:void(0);">Terms of Service</a> and </label>
                                </div>

                                <a href="javascript:void(0);" class="btn btn-gradient-primary w-100" data-bs-dismiss="modal">Create account</a>
                            </form>
                        </div>
                    </div>
                </div>

                
                
            </div>
        </div>
    </div>
</div>

<script>
    function captureClickAndRedirect(clickWebsite, clickName) {

        $.ajax({
            type: 'GET',
            url: '@Url.Page("index", "counterclicklink")',
            data: { clickWebsite: clickWebsite, clickName: clickName },
            success: function (response) {
                if (response.toString() == "LOGIN") 
                {
                    $('#loginModal').modal('show');
                }
            },
            error: function (err) {
                console.log(err);
            }
        });
    }

</script>